li {
  font-size: 40px;
  color: #3d58a6;
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  display: inline-block;
  padding-right: 30px;
  margin-right: 30px;
  border: 10px solid red;
  background: green;
  width: 250px;
}
a {
  color: #3d58a6;
  text-decoration: none;
}
.active {
  color: #ee4036;
}
ul {
  list-style-type: none;
}
